<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <h1>modelo para sites com webpack ja configurado.</h1>
        <form action="/" method="post">
            <label>Qual o seu nome?</label>
            <input type="text" name="name">
            <button> enviar </button>
        </form>
    </section>
    <script src="./assets/js/bundle.js"></script>
</body>